<div #map class="map-container"></div>

<ul class="list-group">
  <li
    class="list-group-item list-group-item-info no-selectable"
    (click)="addMarker()"
    title="1 Click = Agregar | 2 Click Marcador (x) = Eliminar"
  >
    + Agregar
  </li>
  <li
    *ngFor="let item of markers; let i = index"
    class="list-group-item text-white no-selectable"
    (click)="goMarker(item.marker)"
    (dblclick)="deleteMarker(i)"
    [ngStyle]="{ 'background-color': item.color }"
  >
    Marcador {{ i + 1 }}
  </li>
</ul>
